.navbar-nav>li>a,.navbar-brand,.nav-pills>li>a {
	color:darkred !important;
	font-weight: bold;
	font-size: 12pt;
}
.well,.navbar-default {
	background: white !important;
}
@media screen and (max-width:767px) {
	.nav-pills {
		text-align: center;
	}
}

.logo {
  max-width: 50rem; 
}